<form action="/random/results"> <!--equivalent to href-->
  <label for = "min_number">Minimum</label>
      <input id="min_number" type= "text" placeholder="E.g. 1.5" name="min">
  <div>
  <label for = "max_number">Maximum</label>
      <input id="max_number" type= "text" placeholder="E.g. 4.5" name="max">
  </div>
  <button>Pick random number</button>
</form >
