<form action="/square_root/results"> <!--equivalent to href-->
  <label for = "root_number">Enter a number</label>

    <input id="root_number" type= "text" placeholder="What number do you want to take the square root of?" name="square_root">
  <div>
  <button>Calculate square root</button>
  </div>
</form >
