<form action="/square/results"> <!--equivalent to href-->
  <label for = "square_number">Enter a number</label>
  <div>
    <input id="square_number" type= "text" placeholder="What number do you want to square?" name="square">
  </div>
  <button>Calculate square</button>
</form >
